#Info {
  display: block;
}

#CountDown {
  margin-left: 5px;
  display: inline-block;
}

#Related {
  margin: 10%;
  display: block;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
  margin:0;
}

#ProductInfo a {
  color: #0066c0;
  text-decoration: none;
}
#ProductInfo a:hover{
  color: #e47911;
  text-decoration: underline;
}

#Reviews {
  margin-left: 10vmin;
}
